<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{web-site/layout}">

<head>
</head>
<body layout:fragment="content">
   <div class="account-in">
   	 <div class="container">
   	   <h3>Account </h3> 
   	   <h6 th:text="${error}" class="text-danger"></h6>
		<div class="col-md-7 account-top">
		  <form  th:action="@{/profile/change-password}" method="post">
			  <div> 	
					<span>Mật khẩu hiện tại*</span>
					<input type="password" name="currentPassword" > 
				</div>
			<div> 	
				<span>Mật khẩu mới*</span>
				<input type="password" name="newPassword" > 
			</div>
			<div> 
				<span class="pass">Xác nhận mật khẩu*</span>
				<input type="password" name="confirmPassword">
			</div>				
				<input type="submit" value="Đổi mật khẩu"> 
		   </form>
		</div>
		
	    <div class="clearfix"> </div>
	  </div>
   </div>
  
</body>
</html>		