<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{web-site/layout}">

<head>
</head>
<body layout:fragment="content">
   <div class="account-in">
   	 <div class="container">
   	   <h3>Quên mật khẩu</h3>
		<div class="col-md-7 account-top">
		  <form  th:action="@{/api/auth/signin}" method="post">
			<div> 	
				<span>Email*</span>
				<input type="text" id="username" name="username" ><br>
                <small>Chúng tôi sẽ gửi mật khẩu về email của bạn.</small>
			</div>				
				<input type="submit" onclick="Login()" value="Yêu cầu gửi mật khẩu"> 
		   </form>
		</div>
		
	    <div class="clearfix"> </div>
	  </div>
   </div>
  
</body>
</html>		