<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{web-site/layout}">

<head>
</head>
<body layout:fragment="content">
   <div class="account-in">
   	 <div class="container">
   	   <h3>Account </h3> 
   	   <h6 th:text="${error}" class="text-danger"></h6>
		<div class="col-md-7 account-top">
		  <form  th:action="@{/forgot-password}" method="post">
			  <div> 	
					<span>Username</span>
					<input type="text" name="username" > 
				</div>
						
				<input type="submit" value="Lấy mật khẩu"> 
		   </form>
		</div>
		
	    <div class="clearfix"> </div>
	  </div>
   </div>
  
</body>
</html>		