<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{web-site/layout}">

<head>
</head>
<body layout:fragment="content">
   <div class="account-in">
   	 <div class="container">
   	   <h3>Account</h3>
		<div class="col-md-7 account-top">
		  <form  th:action="@{/api/auth/signin}" method="post">
			<div> 	
				<span>UserName*</span>
				<input type="text" id="username" name="username" > 
			</div>
			<div> 
				<span class="pass">Password*</span>
				<input type="password" name="password">
			</div>				
				<input type="submit" onclick="Login()" value="Login"> 
		   </form>
		</div>
		
	    <div class="clearfix"> </div>
	  </div>
   </div>
  
</body>
</html>		