<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body th:fragment="chatbox">
  <div>
    <div class="IconChatBox" id="username-page">
      <a  id="btn-chat"><i class="icon-comment"></i></a>
    </div>
    <div class="mesgs" id="chat-page">
      <div class="msg_history">
        <div class="chat-header">
          <h2>Chatroom [<span id="room-id-display1"></span>]</h2>
        </div>
        <div class="chat-box-body">
          <div class="connecting">
            Connecting...
          </div>
          <ul id="messageArea">
  
          </ul>
        </div>
        
        <form id="messageForm" name="messageForm" nameForm="messageForm">
          <div class="">
            <div class="input-group clearfix">
              <input type="text" id="message" placeholder="Type a message... or /join [room-id] to join another room."
                autocomplete="off" class="form-control" />
              <button type="submit" class="primary">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>



</body>

</html>