<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
    <div th:fragment="footer">        
<div class="footer">
    <div class="container">
        <div class="newsletter">
        <h3>Newsletter</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
        <form>
          <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
          <input type="submit" value="SUBSCRIBE">
        </form>
    </div>
       <div class="cssmenu">
       <ul>
        <li class="active"><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
    <ul class="social">
        <li><a href=""> <i class="instagram"> </i> </a></li>
        <li><a href=""><i class="fb"> </i> </a></li>
        <li><a href=""><i class="tw"> </i> </a></li>
    </ul>
    <div class="clearfix"></div>
    <div class="copy">
       <p> &copy; 2015 Watches. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
    </div>
   </div>
</div>
    </div>
</body>
</html>