<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
    <div th:fragment="footer">        
<div class="footer">
    <div class="container">
        <div class="newsletter">
        <h3>Đăng ký theo dõi tin tức</h3>
        <p>Đăng ký để nhận được những tin tức mới nhất của chúng tôi</p>
        <form>
          <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}" placeholder="Điền email của bạn vào đây">
          <input type="submit" value="Theo dõi">
        </form>
    </div>
       <div class="cssmenu">
       <ul>
        <li class="active"><a href="#">Chính sách bảo mật</a></li>
        <li><a href="#">Điều khoản sử dụng</a></li>
        <li><a href="#">Cửa hàng</a></li>
        <li><a href="#">Về chúng tôi</a></li>
        <li><a href="contact.html">Liên hệ</a></li>
      </ul>
    </div>
    <ul class="social">
        <li><a href=""> <i class="instagram"> </i> </a></li>
        <li><a href=""><i class="fb"> </i> </a></li>
        <li><a href=""><i class="tw"> </i> </a></li>
    </ul>
    <div class="clearfix"></div>
    <div class="copy">
       <p> &copy; 2022 Luxury Watch. Mọi quyền được bảo lưu.</p>
    </div>
   </div>
</div>
    </div>
</body>
</html>