<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body th:fragment="menu">
    <div class="header_bottom">
        <div class="logo">
            <h1><a href="index.html"><img src="/site/images/logo.PNG" style="height: auto; width: 175px;"></h1>
        </div>
        <div class="menu">
            <ul class="megamenu skyblue">
                <li class="showhide" style="display: none;"><span class="title">MENU</span><span
                        class="icon1"></span><span class="icon2"></span></li>
                <li class="active grid" style="display: inline;"><a class="color2" href="#">Sản phẩm</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Nam</h4>
                                    <ul>
                                        <li><a href="men.html">Đồng hồ</a></li>
                                        <li><a href="men.html">Đồng hồ</a></li>
                                        <li><a href="men.html">Áo cộc tay</a></li>
                                        <li><a href="men.html">Âu phục</a></li>
                                        <li><a href="men.html">Quần Âu dài</a></li>
                                        <li><a href="men.html">Quần bò</a></li>
                                        <li><a href="men.html">Áo</a></li>
                                        <li><a href="men.html">Áo nỉ &amp; Hoodies</a></li>
                                        <li><a href="men.html">Đồ bơi</a></li>
                                        <li><a href="men.html">Phụ kiện</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Nữ</h4>
                                    <ul>
                                        <li><a href="men.html">Đồng hồ</a></li>
                                        <li><a href="men.html">Áo khoác ngoài</a></li>
                                        <li><a href="men.html">Đầm</a></li>
                                        <li><a href="men.html">Túi thời trang</a></li>
                                        <li><a href="men.html">Quần Âu dài</a></li>
                                        <li><a href="men.html">Quần bò</a></li>
                                        <li><a href="men.html">Áo thun</a></li>
                                        <li><a href="men.html">Giày</a></li>
                                        <li><a href="men.html">Áo khoác</a></li>
                                        <li><a href="men.html">Phụ kiện</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="h_nav">
                                    <h4>Xu hướng</h4>
                                    <ul>
                                        <li class="">
                                            <div class="p_left">
                                                <img src="images/p1.jpg" class="img-responsive" alt="">
                                            </div>
                                            <div class="p_right">
                                                <h4><a href="#">Denim shirt</a></h4>
                                                <span class="item-cat"><small><a
                                                            href="#">watches</a></small></span>
                                                <span class="price">29.99 $</span>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </li>
                                        <li>
                                            <div class="p_left">
                                                <img src="images/p2.jpg" class="img-responsive" alt="">
                                            </div>
                                            <div class="p_right">
                                                <h4><a href="#">Denim shirt</a></h4>
                                                <span class="item-cat"><small><a
                                                            href="#">watches</a></small></span>
                                                <span class="price">29.99 $</span>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </li>
                                        <li>
                                            <div class="p_left">
                                                <img src="images/p3.jpg" class="img-responsive" alt="">
                                            </div>
                                            <div class="p_right">
                                                <h4><a href="#">Denim shirt</a></h4>
                                                <span class="item-cat"><small><a
                                                            href="#">watches</a></small></span>
                                                <span class="price">29.99 $</span>
                                            </div>
                                            <div class="clearfix"> </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="display: inline;"><a class="color10" href="brands.html">Thương hiệu</a></li>
                <li style="display: inline;"><a class="color3" href="index.html">Ưu đãi</a></li>
                <li style="display: inline;"><a class="color7" th:href="@{/api/site/blog-list}">Tin tức</a></li>
                <div class="clearfix"> </div>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</body>

</html>