<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<body th:fragment="mini-cart">
    <div class="cart__counter box_11">

        <h4>
            <p>Cart:
                
                <span id="total__counter">0</span>
                items
            </p>
            <div class="clearfix"><i class="icon-shopping-cart"></i> </div>
        </h4>
    </div>
    <div class="cart">
        <div class="cart__items">
            <div class="check_out"><h4>Total Ammount : $</h4><span class="total__cost">0</span><button class="btn check_out_btn">Checkout</button> </div>
        </div>
    </div>


    
</body>

</html>