<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web-admin/layout}">

<head>

</head>

<body class="cbp-spmenu-push">
	<div layout:fragment="content">
		<div id="page-wrapper">
			<div class="main-page">
				<div class="tables">
					<div class="table-responsive bs-example widget-shadow">

						<div class="collapse navbar-collapse">

							<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
								<label class="nav-item active">
									<h4>Thêm Mới Thể Loại:</h4>
								</label>
							</ul>

							<div class="form-inline my-2 my-lg-0 text-right">
								<a th:href="@{/admin/categories/}" class="btn btn-success">ListStaff</a>
							</div>
						</div>
						<div class="form-three widget-shadow">
							<div class=" panel-body-inputin">
								<form class="form-horizontal" th:action="@{/admin/categories/saveOrUpdate}"
									method="post" th:object="${category}">
									<input type="hidden" th:filed="*{isEdit}">
									<input type="text" hidden th:field="*{id}">
									<div class="form-group"
									th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
										<label class="col-md-2 control-label">Tên Loại:</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon"> <i class="fa fa-user"></i>
												</span>
												<input type="text" class="form-control1" th:field="*{name}"
													placeholder="Name">
											</div>
												<small th:if="${#fields.hasErrors('name')}" id="customerIdHid"
													class="form-text text-muted help-block" th:errors="*{name}">
												</small>
										</div>
									</div>
									<div class="card-footer text-center">
										<button class="btn btn-primary">
											<span th:if="${category.isEdit}">Update</span> <span
												th:unless="${category.isEdit}">Save</span>
										</button>

									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>

</html>