<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web-admin/layout}">

<head>

</head>

<body class="cbp-spmenu-push" layout:fragment="content">
	<div id="page-wrapper">
		<div class="main-page">
			<div class="forms">
				<div class="row">
					<h3 class="title1">Variable Forms :</h3>

					<div class="form-three widget-shadow">
						<div class=" panel-body-inputin">
							<form class="form-horizontal"
								th:action="@{/api/admin/DiscountCode/update}" method="post"
								th:object="${code}">
								<input type="hidden" th:field="*{isEdit}"> <input hidden
									readonly="readonly" th:field="*{Id}">

								<div id="par-2"></div>
								<div class=" ">

									<div class="form-group">

										<div class="col-md-6" 
										th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
											<label>Tên:</label> <input type="text" class="form-control"
												th:field="*{name}" name="name" placeholder="Name">
											<div class="has-error">
												<small th:if="${#fields.hasErrors('name')}"
													id="customerIdHid" class="form-text text-muted help-block"
													th:errors="*{name}"> </small>
											</div>
										</div>
										
									</div>

									<div class="form-group">
										<div class="col-md-6">
											<label>Ngày áp dụng:</label> <input type="datetime-local"
												class="form-control1" th:field="*{ApplicableDate}"
												name="ApplicableDate"><div class="has-error">
												<small th:if="${#fields.hasErrors('ApplicableDate')}"
													id="customerIdHid" class="form-text text-muted help-block"
													th:errors="*{ApplicableDate}"> </small>
											</div>
										</div>
										<div class="col-md-6">
											<label>Ngày hết hạn:</label> <input type="datetime-local"
												class="form-control1" th:field="*{ExpirationDate}"
												name="ExpirationDate"><div class="has-error">
												<small th:if="${#fields.hasErrors('ExpirationDate')}"
													id="customerIdHid" class="form-text text-muted help-block"
													th:errors="*{ExpirationDate}"> </small>
											</div>
										</div>
										
									</div>
									<div class="form-group">
										<div class="col-md-6">
											<label>Số lượng:</label> <input type="number"
												class="form-control1" value="" min="0" th:field="*{Quantity}" name="Quantity"><div class="has-error">
												<small th:if="${#fields.hasErrors('Quantity')}"
													id="customerIdHid" class="form-text text-muted help-block"
													th:errors="*{Quantity}"> </small>
											</div>
										</div>
										<div class="col-md-6"
											th:classappend="${#fields.hasErrors('ApplicableDate')} ? 'has-error'">
											<label> Giá giảm:</label> <input type="number"
												class="form-control1"  min="0" th:field="*{ReductionAmount}"
												name="ReductionAmount"><div class="has-error">
												<small th:if="${#fields.hasErrors('ReductionAmount')}"
													id="customerIdHid" class="form-text text-muted help-block"
													th:errors="*{ReductionAmount}"> </small>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-6">
											<label>Giá áp dụng:</label> <input type="number"
												class="form-control1" th:field="*{AmountApplied}"  min="0"
												name="AmountApplied"><div class="has-error">
												<small th:if="${#fields.hasErrors('AmountApplied')}"
													id="customerIdHid" class="form-text text-muted help-block"
													th:errors="*{AmountApplied}"> </small>
											</div>
										</div>
										<div class="col-md-6"
											th:classappend="${#fields.hasErrors('Description')} ? 'has-error'">
											<label> Mô tả:</label>
											<textarea class="form-control1" th:field="*{Description}"
												name="Description"></textarea><div class="has-error">
												<small th:if="${#fields.hasErrors('Description')}"
													id="customerIdHid" class="form-text text-muted help-block"
													th:errors="*{Description}"> </small>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-6">
											<label>Trạng thái:</label> 
											
												<select th:field="*{status}" name="status" 
													class="form-control input-sm">
													
													<option value="0" >Ẩn với người dùng</option>
													<option value="1" >Hiện với người dùng</option>
												
												</select><div class="has-error">
												<small th:if="${#fields.hasErrors('status')}"
													id="customerIdHid" class="form-text text-muted help-block"
													th:errors="*{status}"> </small>
											</div>
												
										</div>
										<div class="col-md-6"
											th:classappend="${#fields.hasErrors('ApplicableDate')} ? 'has-error'">
											<label>Mã byte:</label> <input type="text"
												class="form-control1" th:field="*{ByteCode}" name="ByteCode">
												<div class="has-error">
												<small th:if="${#fields.hasErrors('ByteCode')}"
													id="customerIdHid" class="form-text text-muted help-block"
													th:errors="*{ByteCode}"> </small>
											</div>
										</div>
									</div>
									<div class="card-footer text-center">

										<button name="submit" type="submit" class="btn btn-primary">
											<span th:unless="${code.isEdit}">Save</span> <span
												th:if="${code.isEdit}">Update</span>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>