<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web-admin/layout}">
<head>

</head>

<body class="cbp-spmenu-push">
	<div layout:fragment="content">
		<div id="page-wrapper">
			<div class="main-page">
				<div class="tables">
					<div class="table-responsive bs-example widget-shadow">

						<div class="collapse navbar-collapse">

							<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
								<label class="nav-item active">
									<h4>Thông Tin Khách Hàng:</h4>
								</label>
							</ul>

							<div class="form-inline my-2 my-lg-0 text-right">
										<a th:href="@{/admin/customers/}" class="btn btn-success">ListStaff</a>
							</div>
						</div>
						<div class="form-three widget-shadow">
							<div class=" panel-body-inputin">
								<form class="row g-3">
                                    <div class="col-md-6">
                                        <label for="inputEmail4" class="form-label">Tên việc làm</label>
                                        <input type="email" class="form-control" id="inputEmail4">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputState" class="form-label">Công ty</label>
                                        <select id="inputState" class="form-select">
                                            <option selected>Chọn công ty...</option>
                                            <option>Công ty TNHH MediaStep Software Việt Nam</option>
                                            <option>FPT Software Đà Nẵng</option>
                                            <option>Công Ty Phần Mềm Enclave Đà Nẵng</option>
                                            <option>Công Ty CP Phần Mềm BRAVO Đà Nẵng</option>
                                            <option>Công Ty Cổ Phần Phần Mềm Softech Đà Nẵng</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputState" class="form-label">Chuyên ngành</label>
                                        <select id="inputState" class="form-select">
                                            <option selected>Chọn chuyên ngành...</option>
                                            <option>CNTT</option>
                                            <option>Marketing</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputState" class="form-label">Hình thức công việc</label>
                                        <select id="inputState" class="form-select">
                                            <option selected>Chọn hình thức...</option>
                                            <option>Thực tập</option>
                                            <option>Nhân viên chính thức</option>
                                            <option>Thời vụ</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputCity" class="form-label">Lương</label>
                                        <input type="text" class="form-control" id="inputCity">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="inputState" class="form-label">Trạng thái</label>
                                        <select id="inputState" class="form-select">
                                            <option selected>Chọn trạng thái...</option>
                                            <option>Còn ứng tuyển</option>
                                            <option>Không tuyển</option>
                                        </select>
                                    </div>
                                    <div class="col-12">
                                        <div class="text-end">
                                            <button type="submit" class="btn btn-warning">Làm mới</button>
                                            <button type="submit" class="btn btn-primary">Danh sách</button>
                                            <button type="submit" class="btn btn-success">Lưu</button>
                                        </div>
                                    </div>
                                </form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>

</html>