<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web-admin/layout}">

<head>

</head>

<body class="cbp-spmenu-push" layout:fragment="content">
	<div class="main-content">

		<div id="page-wrapper">
			<div class="main-page compose">
				<h2 class="title1">Compose Mail Page</h2>
				<div class="col-md-4 compose-left">
					<div class="chat-grid widget-shadow">
						<ul>
							<li class="head">Friends (Online) </li>
							<li th:each="chat:${listChatBox}">
								<a th:if="${chat.status==0}"
									th:attr="onclick=|choseChat('${chat.Username}', '${chat.room}','')|">
									<div class="chat-left">
										<img class="img-circle" src="" alt="">
										<label class="small-badge"></label>
									</div>
									<div class="chat-right">
										<p th:utext="${chat.Username}"></p>

									</div>
									<div class="clearfix"> </div>
								</a>
								<a th:if="${chat.status!=0}"
									th:attr="onclick=|choseChat('${chat.Username}', '','')|">
									<div class="chat-left">
										<img class="img-circle" src="" alt="">
										<label class="small-badge"></label>
									</div>
									<div class="chat-right">
										<p th:utext="${chat.Username}"></p>

									</div>
									<div class="clearfix"> </div>
								</a>
							</li>



						</ul>
					</div>
				</div>
				<div class="col-md-8 compose-right widget-shadow">
					<div class="panel-default">
						<div class="chat-header panel-heading">
							<h2>Chat with [<span id="room-id-display"></span>]</h2>
						</div>

						<div class="panel-body" id="chat-page">
							<div class="connecting alert alert-info">
								Connecting...
							</div>
							<ul id="messageArea">
							</ul>
							<form id="messageForm" name="messageForm" nameForm="messageForm">
								<div class="form-group">
									<div class="input-group clearfix">
										<input type="text" id="message"
											placeholder="Type a message... or /join [room-id] to join another room."
											autocomplete="off" class="form-control" />
										<button type="submit" class="primary">Send</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- <div class="clearfix"> </div> -->
			</div>
		</div>
	</div>
</body>

</html>