<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web-admin/layout}">

<head>

</head>

<body class="cbp-spmenu-push">
	<div layout:fragment="content">
		<div id="page-wrapper">
			<h2>Danh Sach Loại</h2>
			<div class="row">
				<ol class="breadcrumb">
					<li><a href="#">Trang Chủ</a></li>
					<li><a href="#">Danh Sách</a></li>
					<li><a href="#">Thêm Mới</a></li>
				</ol>
			</div>

			<div class="main-page">
				<div class="tables">
					<div class="bs-example widget-shadow" data-example-id="hoverable-table">

						<table class="table table-hover">
							<thead>
								<tr>
									<th>Tên</th>
									<th>Hoạt động</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each=" item : ${categorys}">
									<td th:text="${item.name}">1</td>
									<td>
										<a data-toggle="modal" data-target="#gridSystemModal"
											th:attr="onclick=|showProfileCategory('${item.name}')|"
											class="fa fa-search"></a>
										<div class="modal fade" id="gridSystemModal" tabindex="-1" role="dialog"
											aria-labelledby="gridSystemModalLabel">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal"
															aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
														<h4 class="modal-title text-center" id="gridSystemModalLabel">
															Thông Tin</h4>
													</div>
													<div class="modal-body">


														<!-- Email input -->
														<div class="form-outline mb-4">
															<label class="form-label">Tên:</label>
															<input class="form-control" id="name" readonly />
														</div>
													</div>
												</div>
												<!-- /.modal-content -->
											</div>
											<!-- /.modal-dialog -->
										</div> <!-- /.modal -->
										<a th:href="@{'/admin/categories/edit/' + ${item.id}}" class="fa fa-edit"></a>

										<a th:data-id="${item.id}" th:data-name="${item.name}"
											onclick="showConfirmModelDialogCategory(this.getAttribute('data-id'), this.getAttribute('data-name'))"
											class="fa fa-trash-o"> </a>
									</td>
								</tr>
							</tbody>
						</table>

						<div class="modal fade" id="confirmationId" tabindex="-1" role="dialog"
							aria-labelledby="modelTitleId" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Confirmation</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										Bạn có muốn xóa không "<span id="mailName"></span>"?
									</div>
									<div class="modal-footer">
										<a id="yesOption" type="button" class="btn btn-danger">Yes</a>
										<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>


</body>

</html>