<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{web-admin/layout}">

<head>

</head> 
<body layout:fragment="content" class="cbp-spmenu-push">
		
		<div id="page-wrapper">
			<div class="main-page signup-page">
				<h2 class="title1">SignUp Here</h2>
				<div class="sign-up-row widget-shadow">
					<h5>Personal Information :</h5>
				<form th:action="@{/api/auth/signup}" method="post" th:object="${signUpRequest}">
					<div class="sign-u">
								<input type="text" name="username" placeholder="First Name" required="">
						<div class="clearfix"> </div>
					</div>
			
					<div class="sign-u">
								<input type="email" placeholder="Email Address" name="email" required="">
						<div class="clearfix"> </div>
					</div>
					<div class="sign-u">
						<input type="text" placeholder="phone" name="phone" required="">
				<div class="clearfix"> </div>
			</div>
					<div class="sign-u">
						<div class="sign-up1">
							<h4>Gender* :</h4>
						</div>
						<div class="sign-up2">
							<label>
								<input type="radio" name="Gender" value="0" required="">
								Male
							</label>
							<label>
								<input type="radio" name="Gender" value="1" required="">
								Female
							</label>
						</div>
						<div class="clearfix"> </div>
					</div>
					<h6>Login Information :</h6>
					<div class="sign-u">
								<input type="password" placeholder="Password" name="password" required="">
						<div class="clearfix"> </div>
					</div>
					<div class="sign-u">
								<input type="password" placeholder="Confirm Password" required="">
						</div>
						<div class="clearfix"> </div>
					<div class="sub_home">
							<input type="submit" value="Submit">
						<div class="clearfix"> </div>
					</div>
					<div class="registration">
						Already Registered.
						<a class="" href="login.html">
							Login
						</a>
					</div>
				</form>
				</div>
			</div>
		</div>
		
</body>
</html>