<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
    
    <div th:fragment="siderbar">        
 <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
           
            <aside class="sidebar-left">
                <nav class="navbar navbar-inverse">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target=".collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand" href="index.html"><span class="fa fa-area-chart"></span> WATCH<span
                                    class="dashboard_text">SHOP</span></a></h1>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="sidebar-menu">
                            <li class="header">MAIN NAVIGATION</li>
                            <li class="treeview">
                                <a href="index.html">
                                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                                </a>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-product-hunt"></i>
                                    <span>Product</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a th:href="@{/api/admin/product/list-product}"><i class="fa fa-angle-right"></i> List Product</a></li>
                                    <li><a th:href="@{/api/admin/product/add-product}"><i class="fa fa-angle-right"></i> Add Product</a></li>
                                </ul>
                            </li>
                             <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-th-large"></i>
                                    <span>Category</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a th:href="@{/api/admin/categories/}"><i class="fa fa-angle-right"></i> List Category</a></li>
                                    <li><a th:href="@{/api/admin/categories/add-category}"><i class="fa fa-angle-right"></i> Add Category</a></li>
                                </ul>
                            </li>
                             <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-drupal"></i>
                                    <span>Brand</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a th:href="@{/api/admin/brands/}"><i class="fa fa-angle-right"></i> List Brand</a></li>
                                    <li><a th:href="@{/api/admin/brands/add-brand}"><i class="fa fa-angle-right"></i> Add Brand</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-group"></i>
                                    <span>Staff</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                   <li><a th:href="@{/api/admin/staffs/}"><i class="fa fa-angle-right"></i> List Staff</a></li>
                                    <li><a th:href="@{/api/admin/staffs/add}"><i class="fa fa-angle-right"></i> Add Staff</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-user"></i>
                                    <span>Customer</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a th:href="@{/api/admin/customers/}"><i class="fa fa-angle-right"></i> List Customer</a></li>
                                    <li><a th:href="@{/api/admin/customers/add}"><i class="fa fa-angle-right"></i> Add Customer</a></li>
                                </ul>
                            </li>
                             <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-spinner"></i>
                                    <span>Raiting</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a th:href="@{/api/admin/raiting/list-waiting}"><i class="fa fa-angle-right"></i> List Raiting</a></li>
                                    <li><a th:href="@{/api/admin/raiting/list-check}"><i class="fa fa-angle-right"></i> Check Raiting</a></li>
                                </ul>
                            </li>
                                                        </li>
                             <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-google-wallet"></i>
                                    <span>Blog</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a th:href="@{/api/admin/blog/list-blog}"><i class="fa fa-angle-right"></i> List Blog</a></li>
                                    <li><a th:href="@{/api/admin/blog/add-blog}"><i class="fa fa-angle-right"></i> Add Blog</a></li>
                                </ul>
                            </li>
                                                        </li>
                             <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-comments-o"></i>
                                    <span>ChatBox</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a th:href="@{/api/admin/chatbox}"><i class="fa fa-angle-right"></i> Admin ChatBox</a></li>
                                </ul>
                            </li>
                                                        </li>
                             <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-gift"></i>
                                    <span>Discount</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a th:href="@{/api/admin/DiscountCode/list-code}"><i class="fa fa-angle-right"></i> List Discount</a></li>
                                    <li><a th:href="@{/api/admin/DiscountCode/}"><i class="fa fa-angle-right"></i> Add Discount</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-envelope"></i> <span>Mailbox</span>
                                    <i class="fa fa-angle-left pull-right"></i><small
                                        class="label pull-right label-info1">08</small><span
                                        class="label label-primary1 pull-right">02</span></a>
                                <ul class="treeview-menu">
                                    <li><a th:href="@{/api/admin/contacs/}"><i class="fa fa-bell-o"></i> Mail Inbox</a></li>
                                    <li><a th:href="@{/admin/mail/form}"><i class="fa fa-angle-right"></i> Compose Mail </a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-folder"></i> <span>Examples</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="login.html"><i class="fa fa-angle-right"></i> Login</a></li>
                                    <li><a href="signup.html"><i class="fa fa-angle-right"></i> Register</a></li>
                                    <li><a href="404.html"><i class="fa fa-angle-right"></i> 404 Error</a></li>
                                    <li><a href="500.html"><i class="fa fa-angle-right"></i> 500 Error</a></li>
                                    <li><a href="blank-page.html"><i class="fa fa-angle-right"></i> Blank Page</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                   
                </nav>
            </aside>
        </div> 
  
</div>

</body>
</html>
